<a href="https://colab.research.google.com/github/Woongstar/AItrack/blob/main/Convolutionpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
(독립,종속),_ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립= 독립.reshape(60000,28,28,1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [3]:
x= tf.keras.layers.Input(shape=[28,28,1])
h= tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(x)
h= tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(h)
h= tf.keras.layers.Flatten()(h)
h= tf.keras.layers.Dense(84, activation='swish')(h)
y= tf.keras.layers.Dense(10, activation='softmax')(h)
model= tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [4]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 16s 5ms/step - loss: 2.1907 - accuracy: 0.8642
Epoch 2/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0835 - accuracy: 0.9779
Epoch 3/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0510 - accuracy: 0.9862
Epoch 4/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0355 - accuracy: 0.9903
Epoch 5/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0318 - accuracy: 0.9915
Epoch 6/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0228 - accuracy: 0.9940
Epoch 7/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0203 - accuracy: 0.9942
Epoch 8/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0209 - accuracy: 0.9949
Epoch 9/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0163 - accuracy: 0.9953
Epoch 10/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0188 - accuracy: 0.9952

In [5]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [7]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________