<a href="https://colab.research.google.com/github/Woongstar/AItrack/blob/main/FlattenLayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [5]:
(독립,종속),_ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)
독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [8]:
x= tf.keras.layers.Input(shape=[784])
h= tf.keras.layers.Dense(84, activation='swish')(x)
y= tf.keras.layers.Dense(10, activation='softmax')(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [9]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.6009 - accuracy: 0.7827
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5880 - accuracy: 0.9070
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4817 - accuracy: 0.9250
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4323 - accuracy: 0.9349
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4284 - accuracy: 0.9386
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4111 - accuracy: 0.9352
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4113 - accuracy: 0.9418
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3900 - accuracy: 0.9451
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3571 - accuracy: 0.9467
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3511 - accuracy: 0.9487

In [11]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [12]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [13]:
(독립,종속),_ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [16]:
x= tf.keras.layers.Input(shape=[28,28])
h= tf.keras.layers.Flatten()(x)
h= tf.keras.layers.Dense(84, activation='swish')(h)
y= tf.keras.layers.Dense(10, activation='softmax')(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [17]:
model.fit(독립,종속,epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 6.7452 - accuracy: 0.8002
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5939 - accuracy: 0.9093
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4393 - accuracy: 0.9280
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4233 - accuracy: 0.9331
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3880 - accuracy: 0.9382