In [19]:
import pandas as pd
import tensorflow as tf

In [24]:
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(path)
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [27]:
독립 = lemonade[["온도"]]
종속 = lemonade[["판매량"]]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [32]:
x= tf.keras.layers.Input(shape=[1])
y= tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss="mse")

In [35]:
model.fit(독립,종속,epochs=10000, verbose=0)

In [36]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 3ms/step - loss: 5.3741e-04
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 5.3709e-04
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 5.3671e-04
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 5.3632e-04
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 5.3587e-04
Epoch 6/10
1/1 [==============================] - 0s 6ms/step - loss: 5.3548e-04
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 5.3501e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 5.3459e-04
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 5.3428e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 5.3406e-04

In [37]:
model.predict(독립)

array([[40.04096 ],
       [42.02985 ],
       [44.01874 ],
       [46.007633],
       [47.996525],
       [49.985416]], dtype=float32)

In [38]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [39]:
model.predict([[15]])

array([[30.096498]], dtype=float32)