In [7]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [4]:
path = "/content/drive/MyDrive/인공지능트랙/코딩야학/csv/boston.csv"
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [11]:
#독립변수, 종속변수 분리
독립 = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속 = boston[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [13]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [18]:
model.fit(독립, 종속, epochs=1)

16/16 [==============================] - 0s 1ms/step - loss: 26.5248

In [19]:
model.predict(독립[0:5])

array([[29.082634],
       [24.390001],
       [30.03329 ],
       [29.394493],
       [28.738071]], dtype=float32)

In [20]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [22]:
model.get_weights()

[array([[-0.08599791],
        [ 0.07611427],
        [-0.0642667 ],
        [ 3.5002408 ],
        [ 1.9328939 ],
        [ 3.9091976 ],
        [ 0.01501606],
        [-0.9163745 ],
        [ 0.14418808],
        [-0.00966033],
        [ 0.03379587],
        [ 0.01552094],
        [-0.5845635 ]], dtype=float32), array([2.8366947], dtype=float32)]